Repository heymumford/Samstraumr: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, maven-compile, checkstyle

.pre-commit-config.yaml:

# Pre-commit hooks for Samstraumr
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Code formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags in workflows
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Java formatting with Spotless
  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Check (Java Format)
        entry: mvn spotless:check -q
        language: system
        files: \.java$
        pass_filenames: false

      - id: maven-compile
        name: Maven Compile Check
        entry: mvn clean compile -DskipTests -q
        language: system
        files: '(\.java$|pom\.xml$)'
        pass_filenames: false

      - id: checkstyle
        name: Checkstyle
        entry: mvn checkstyle:check -q
        language: system
        files: \.java$
        pass_filenames: false

  # Security scanning (lightweight for pre-commit)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: 'pom\.xml|\.lock$'

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: ['-d', '{extends: default, rules: {line-length: {max: 120}}}']
        files: '\.ya?ml$'

# Optional: More aggressive checks (uncomment to enable)
# These are slower but catch more issues
#   - repo: local
#     hooks:
#       - id: pmd-check
#         name: PMD Analysis (Fast Mode)
#         entry: mvn pmd:check -Dpmd.printFailingErrors=true -q
#         language: system
#         files: \.java$
#         pass_filenames: false
#
#       - id: spotbugs-check
#         name: SpotBugs Analysis (Main only)
#         entry: mvn spotbugs:check -Dspotbugs.effort=Min -q
#         language: system
#         files: \.java$
#         pass_filenames: false

fix(javadoc): resolve strict Javadoc errors in legacy code
  modules/samstraumr-core/src/main/java/org/s8r/application/service/MachineService.java
  modules/samstraumr-core/src/main/java/org/s8r/core/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/domain/validation/MachineComponentValidator.java
  modules/samstraumr-core/src/main/java/org/s8r/tube/Tube.java
  modules/samstraumr-core/src/main/java/org/s8r/tube/TubeLifecycleState.java
  modules/samstraumr-core/src/main/java/org/s8r/tube/composite/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/tube/exception/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/tube/legacy/composite/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/tube/legacy/core/exception/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/tube/legacy/core/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/tube/legacy/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/tube/machine/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/tube/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/tube/test/annotations/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/tube/test/package-info.java
Due: spotless-check, maven-compile, checkstyle

chore(gitignore): add .worktrees/ for git worktree isolation
  .gitignore
Due: none

feat(test-infrastructure): build reusable test support framework for concurrency bug fixes
  modules/samstraumr-core/src/test/java/org/s8r/test/support/adapter/AdapterContractValidator.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/adapter/AdapterTestFixtures.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/adapter/CacheStatisticsValidator.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/application/CycleDetectionScenario.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/application/PortContractValidator.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/application/ValidatorTestHelper.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/concurrency/ConcurrentTestFixture.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/concurrency/StressTestScenario.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/concurrency/VisibilityAssertion.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/domain/AggregationFixtures.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/domain/ComponentBuilder.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/domain/LifecycleScenario.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/domain/StateTransitionValidator.java
Due: spotless-check, maven-compile, checkstyle

fix(Bug #1): Eliminate race condition in AggregatorComponent buffer management
  modules/samstraumr-core/src/main/java/org/s8r/domain/component/pattern/AggregatorComponent.java
  modules/samstraumr-core/src/test/java/org/s8r/test/AggregatorComponentConcurrencyTest.java
Due: spotless-check, maven-compile, checkstyle

fix(Bug #2): Complete missing lifecycle state transition cases
  modules/samstraumr-core/src/main/java/org/s8r/domain/component/Component.java
  modules/samstraumr-core/src/test/java/org/s8r/test/ComponentLifecycleStateGapsTest.java
Due: spotless-check, maven-compile, checkstyle

fix(concurrency): resolve CompositeComponent race condition with thread-safe collections
  modules/samstraumr-core/src/main/java/org/s8r/domain/component/Component.java
  modules/samstraumr-core/src/main/java/org/s8r/domain/component/composite/CompositeComponent.java
  modules/samstraumr-core/src/test/java/org/s8r/test/AggregatorComponentConcurrencyTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/ComponentLifecycleStateGapsTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/CompositeComponentConcurrencyTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/adapter/AdapterContractValidator.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/adapter/AdapterTestFixtures.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/adapter/CacheStatisticsValidator.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/application/CycleDetectionScenario.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/application/PortContractValidator.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/application/ValidatorTestHelper.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/concurrency/ConcurrentTestFixture.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/concurrency/StressTestScenario.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/concurrency/VisibilityAssertion.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/domain/AggregationFixtures.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/domain/ComponentBuilder.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/domain/LifecycleScenario.java
  modules/samstraumr-core/src/test/java/org/s8r/test/support/domain/StateTransitionValidator.java
Due: spotless-check, maven-compile, checkstyle

fix(concurrency): Add volatile keyword to ComponentConnection.active field
  modules/samstraumr-core/src/main/java/org/s8r/domain/component/composite/ComponentConnection.java
  modules/samstraumr-core/src/test/java/org/s8r/test/ComponentConnectionVisibilityTest.java
Due: spotless-check, maven-compile, checkstyle

fix(validation): replace silent fallback with exception throwing in MachineStateValidator
  modules/samstraumr-core/src/main/java/org/s8r/domain/validation/MachineStateValidator.java
  modules/samstraumr-core/src/test/java/org/s8r/test/ComponentConnectionVisibilityTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/MachineStateValidatorSilentFallbackTest.java
Due: spotless-check, maven-compile, checkstyle

fix(cache): use AtomicLong for thread-safe statistics counters in InMemoryCacheAdapter
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/cache/InMemoryCacheAdapter.java
  modules/samstraumr-core/src/test/java/org/s8r/test/CacheStatisticsRaceConditionTest.java
Due: spotless-check, maven-compile, checkstyle

fix(validation): resolve cycle detection in sparse component graphs (Bug #7)
  modules/samstraumr-core/src/main/java/org/s8r/domain/validation/CompositeConnectionValidator.java
  modules/samstraumr-core/src/test/java/org/s8r/test/CycleDetectionSparseGraphTest.java
Due: spotless-check, maven-compile, checkstyle

fix(pr-feedback): Address all Sourcery AI review comments for PR #167
  modules/samstraumr-core/src/main/java/org/s8r/domain/validation/CompositeConnectionValidator.java
  modules/samstraumr-core/src/test/java/org/s8r/test/AggregatorComponentConcurrencyTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/ComponentConnectionVisibilityTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/ComponentLifecycleStateGapsTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/CompositeComponentConcurrencyTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/MachineStateValidatorSilentFallbackTest.java
Due: spotless-check, maven-compile, checkstyle

fix(pr-feedback): Clarify MachineStateValidator.isOperationAllowed Javadoc
  modules/samstraumr-core/src/main/java/org/s8r/domain/validation/MachineStateValidator.java
Due: spotless-check, maven-compile, checkstyle

fix(pr-feedback): Address Copilot and Sourcery review comments for PR #167
  modules/samstraumr-core/src/main/java/org/s8r/domain/component/composite/CompositeComponent.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/cache/InMemoryCacheAdapter.java
  modules/samstraumr-core/src/test/java/org/s8r/test/AggregatorComponentConcurrencyTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/CacheStatisticsRaceConditionTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/ComponentConnectionVisibilityTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/ComponentLifecycleStateGapsTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/CompositeComponentConcurrencyTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/CycleDetectionSparseGraphTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/MachineStateValidatorSilentFallbackTest.java
Due: spotless-check, maven-compile, checkstyle

Feature/samstraumr concurrency fixes (#167)
  .gitignore
  modules/samstraumr-core/src/main/java/org/s8r/domain/component/Component.java
  modules/samstraumr-core/src/main/java/org/s8r/domain/component/composite/ComponentConnection.java
  modules/samstraumr-core/src/main/java/org/s8r/domain/component/composite/CompositeComponent.java
  modules/samstraumr-core/src/main/java/org/s8r/domain/component/pattern/AggregatorComponent.java
  modules/samstraumr-core/src/main/java/org/s8r/domain/validation/CompositeConnectionValidator.java
  modules/samstraumr-core/src/main/java/org/s8r/domain/validation/MachineStateValidator.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/cache/InMemoryCacheAdapter.java
  modules/samstraumr-core/src/test/java/org/s8r/test/AggregatorComponentConcurrencyTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/CacheStatisticsRaceConditionTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/ComponentConnectionVisibilityTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/ComponentLifecycleStateGapsTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/CompositeComponentConcurrencyTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/CycleDetectionSparseGraphTest.java
  modules/samstraumr-core/src/test/java/org/s8r/test/MachineStateValidatorSilentFallbackTest.java
Due: spotless-check, maven-compile, checkstyle

fix(config): resolve critical configuration bugs across XML and workflow files
  .github/actions/setup-java-21/action.yml
  .github/actions/setup-test-environment/action.yml
  .github/actions/upload-test-results/action.yml
  .github/workflows/ci-comprehensive.yml
  .github/workflows/ci-fast.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-scheduled.yml
  .github/workflows/ci-security.yml
  .github/workflows/documentation-ci.yml
  .github/workflows/full-pipeline.yml
  .github/workflows/local-pipeline.yml
  .github/workflows/port-performance.yml
  .github/workflows/s8r-ci-v2.yml
  .github/workflows/s8r-ci.yml
  .github/workflows/s8r-structure-pipeline.yml
  .github/workflows/samstraumr-pipeline.yml
  .github/workflows/smoke-test.yml
  lifecycle-test/pom.xml
  modules/samstraumr-core/pom.xml
  modules/samstraumr-core/src/test/resources/cucumber.properties
  modules/samstraumr-core/src/test/resources/junit-platform.properties
  pom.xml
  quality-tools/checkstyle-suppressions.xml
  test-module/pom.xml
  test-port-interfaces/pom.xml
Due: maven-compile

fix(review): address PR review feedback from agents
  .github/workflows/ci-comprehensive.yml
  .github/workflows/full-pipeline.yml
  .github/workflows/local-pipeline.yml
  .github/workflows/s8r-ci-v2.yml
  .github/workflows/s8r-ci.yml
  .github/workflows/samstraumr-pipeline.yml
  modules/samstraumr-core/src/test/resources/junit-platform.properties
  test-port-interfaces/pom.xml
Due: maven-compile

fix(config): resolve critical configuration bugs across XML and workflow files (#178)
  .github/actions/setup-java-21/action.yml
  .github/actions/setup-test-environment/action.yml
  .github/actions/upload-test-results/action.yml
  .github/workflows/ci-comprehensive.yml
  .github/workflows/ci-fast.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-scheduled.yml
  .github/workflows/ci-security.yml
  .github/workflows/documentation-ci.yml
  .github/workflows/full-pipeline.yml
  .github/workflows/local-pipeline.yml
  .github/workflows/port-performance.yml
  .github/workflows/s8r-ci-v2.yml
  .github/workflows/s8r-ci.yml
  .github/workflows/s8r-structure-pipeline.yml
  .github/workflows/samstraumr-pipeline.yml
  .github/workflows/smoke-test.yml
  lifecycle-test/pom.xml
  modules/samstraumr-core/pom.xml
  modules/samstraumr-core/src/test/resources/cucumber.properties
  modules/samstraumr-core/src/test/resources/junit-platform.properties
  pom.xml
  quality-tools/checkstyle-suppressions.xml
  test-module/pom.xml
  test-port-interfaces/pom.xml
Due: maven-compile

chore: remove backup archive from repo
  .gitignore
  Samstraumr_backup_20250407_184843.tar.gz
Due: none

chore: remove backup archive from repo (#179)
  .gitignore
  Samstraumr_backup_20250407_184843.tar.gz
Due: none

docs: add community health files
  .editorconfig
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
Due: none

docs: add community health files (#180)
  .editorconfig
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
Due: none

chore: add repo coherence templates
  .gitattributes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  SUPPORT.md
Due: none

chore: add repo coherence templates (#181)
  .gitattributes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  SUPPORT.md
Due: none

chore: remove local path artifact files
  version-refs-after.txt
  version-refs-before.txt
Due: none

chore: remove local path artifact files (#182)
  version-refs-after.txt
  version-refs-before.txt
Due: none

docs: Add persistent planning structure for Samstraumr execution
  AGENTIC_IMPLEMENTATION_GUIDE.md
  EXPERT_PANEL_SYNTHESIS_MASTER.md
  FINAL_RESEARCH_RANKINGS.md
  GATE_DECISION_FRAMEWORK.md
  IMPLEMENTATION_PLAN_ITERATION_3.md
  PHASE_1_BACKUP_PLAYBOOKS.md
  PUBLICATION_STRATEGY.md
  QUICK_REFERENCE_CARD.md
  RESOURCE_ALLOCATION_ITERATION_2.md
  STRUCTURE_SUMMARY.txt
  VALUE_FRAMEWORK_ITERATION_1.md
  feature_tracking_sheet.md
  findings_catalog.md
  phase_tracker.md
  task_plan.md
Due: none

test(tube): add comprehensive adversarial test suite for temporal semantics
  ADVERSARIAL_TESTS_SUMMARY.md
  modules/samstraumr-core/src/test/java/org/s8r/tube/lifecycle/TubeTemporalAdversarialTest.java
  modules/samstraumr-core/src/test/resources/features/tube-lifecycle/tube-temporal-adversarial.feature
Due: spotless-check, maven-compile, checkstyle

test(tube): add production controls for log limits, termination timing, exception recovery
  PRODUCTION_CONTROLS.md
  modules/samstraumr-core/src/test/java/org/s8r/tube/lifecycle/TubeProductionControlsTest.java
Due: spotless-check, maven-compile, checkstyle

style(spotless): fix code formatting violations in temporal adversarial and production control tests
  modules/samstraumr-core/src/test/java/org/s8r/tube/lifecycle/TubeProductionControlsTest.java
  modules/samstraumr-core/src/test/java/org/s8r/tube/lifecycle/TubeTemporalAdversarialTest.java
Due: spotless-check, maven-compile, checkstyle

docs(week-0): create week 0 execution plan and collaborator job description
  COLLABORATOR_JOB_DESCRIPTION.md
  WEEK_0_ACTIVE_PLAN.md
Due: none

docs(week-0): add recruiter email templates for collaborator hiring campaign
  RECRUITER_EMAIL_TEMPLATES.md
Due: none

docs(week-0): create kickoff meeting slide outline
  KICKOFF_MEETING_SLIDES.md
Due: none

docs(week-0): create comprehensive readiness summary with daily timeline and contingencies
  WEEK_0_READINESS_SUMMARY.md
Due: none

refactor(adapter): split MachineAdapter into 6 focused adapter classes
  modules/samstraumr-core/src/main/java/org/s8r/adapter/ComponentToPortAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/CompositeToPortAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/DomainMachinePortAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/MachineAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/MachineToComponentPortAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/MachineToDomainPortAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/TubeMachineWrapper.java
Due: spotless-check, maven-compile, checkstyle

fix(review): address agentic feedback on PR #193
  REFACTORING_SUMMARY.md
  modules/samstraumr-core/src/main/java/org/s8r/adapter/ComponentToPortAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/CompositeToPortAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/DomainMachinePortAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/MachineAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/MachineToComponentPortAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/MachineToDomainPortAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/TubeMachineWrapper.java
Due: spotless-check, maven-compile, checkstyle

refactor(adapter): split MachineAdapter into 6 focused adapter classes (#193)
  REFACTORING_SUMMARY.md
  modules/samstraumr-core/src/main/java/org/s8r/adapter/ComponentToPortAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/CompositeToPortAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/DomainMachinePortAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/MachineAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/MachineToComponentPortAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/MachineToDomainPortAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/TubeMachineWrapper.java
Due: spotless-check, maven-compile, checkstyle

chore: stage file deletions from cleanup
  ADVERSARIAL_TESTS_SUMMARY.md
  AGENTIC_IMPLEMENTATION_GUIDE.md
  BRANCH_CLEANUP_GUIDE.md
  BRANCH_CONSOLIDATION_SUMMARY.md
  CI-OPTIMIZATION-CHANGES.md
  CI-OPTIMIZATION-README.md
  COLLABORATOR_JOB_DESCRIPTION.md
  EXPERT_PANEL_SYNTHESIS_MASTER.md
  FINAL_RESEARCH_RANKINGS.md
  GATE_DECISION_FRAMEWORK.md
  IMPLEMENTATION_PLAN_ITERATION_3.md
  KICKOFF_MEETING_SLIDES.md
  PHASE_1_BACKUP_PLAYBOOKS.md
  POST_MERGE_CLEANUP.md
  PRODUCTION_CONTROLS.md
  PR_DESCRIPTION.md
  PUBLICATION_STRATEGY.md
  QUICK_REFERENCE_CARD.md
  QUICK_START_GUIDE.md
  RECRUITER_EMAIL_TEMPLATES.md
  RESOURCE_ALLOCATION_ITERATION_2.md
  VALUE_FRAMEWORK_ITERATION_1.md
  WEEK_0_ACTIVE_PLAN.md
  WEEK_0_READINESS_SUMMARY.md
  WRITING_MANIFESTO.md
  feature_tracking_sheet.md
  findings_catalog.md
  phase_tracker.md
  run-component-type-test.sh
  run-composite-connection-test.sh
  run-isolated-validator-test.sh
  run-manual-validator-test.sh
  task_plan.md
Due: none
