Repository heymumford/Samstraumr: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, maven-compile, checkstyle

.pre-commit-config.yaml:

# Pre-commit hooks for Samstraumr
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Code formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags in workflows
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Java formatting with Spotless
  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Check (Java Format)
        entry: mvn spotless:check -q
        language: system
        files: \.java$
        pass_filenames: false

      - id: maven-compile
        name: Maven Compile Check
        entry: mvn clean compile -DskipTests -q
        language: system
        files: '(\.java$|pom\.xml$)'
        pass_filenames: false

      - id: checkstyle
        name: Checkstyle
        entry: mvn checkstyle:check -q
        language: system
        files: \.java$
        pass_filenames: false

  # Security scanning (lightweight for pre-commit)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: 'pom\.xml|\.lock$'

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: ['-d', '{extends: default, rules: {line-length: {max: 120}}}']
        files: '\.ya?ml$'

# Optional: More aggressive checks (uncomment to enable)
# These are slower but catch more issues
#   - repo: local
#     hooks:
#       - id: pmd-check
#         name: PMD Analysis (Fast Mode)
#         entry: mvn pmd:check -Dpmd.printFailingErrors=true -q
#         language: system
#         files: \.java$
#         pass_filenames: false
#
#       - id: spotbugs-check
#         name: SpotBugs Analysis (Main only)
#         entry: mvn spotbugs:check -Dspotbugs.effort=Min -q
#         language: system
#         files: \.java$
#         pass_filenames: false

Add comprehensive branch consolidation summary
  BRANCH_CONSOLIDATION_SUMMARY.md
Due: none

Add comprehensive PR and post-merge documentation
  POST_MERGE_CLEANUP.md
  POST_MERGE_VERIFICATION.md
  PR_DESCRIPTION.md
Due: none

Add quick start guide for completing consolidation
  QUICK_START_GUIDE.md
Due: none

Add exception handling to Component initialization callback
  modules/samstraumr-core/src/main/java/org/s8r/component/core/Component.java
Due: spotless-check, maven-compile, checkstyle

Fix toString() method to use getState() instead of undefined state field
  modules/samstraumr-core/src/main/java/org/s8r/component/core/Component.java
Due: spotless-check, maven-compile, checkstyle

Add comprehensive PR description for code review fixes
  PR_DESCRIPTION.md
Due: none

docs: align version references to 3.1.1
  CLAUDE.md
  README.md
  REFACTORING_ASSESSMENT.md
  VERSION_ALIGNMENT_PLAN.md
  docs/architecture/reports/design-analysis-gaps-report.md
  docs/reference/release/changelog.md
  docs/testing/karate-testing-guide.md
  lifecycle-test/pom.xml
  modules/pom.xml
  modules/samstraumr-core/pom.xml
  pom.xml
  test-module/pom.xml
  test-port-interfaces/pom.xml
  version-refs-after.txt
  version-refs-before.txt
Due: maven-compile

chore: add Claude Code config to gitignore
  .gitignore
Due: none

fix: resolve 3 compilation errors in core module
  modules/samstraumr-core/src/main/java/org/s8r/adapter/ComponentAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/adapter/MachineAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/component/core/Component.java
  modules/samstraumr-core/src/main/java/org/s8r/domain/component/Component.java
  modules/samstraumr-core/src/main/java/org/s8r/domain/component/port/ComponentPort.java
  modules/samstraumr-core/src/test/java/org/s8r/adapter/contract/ComponentPortContractTest.java
Due: spotless-check, maven-compile, checkstyle

fix: correct surefire-settings.xml symlink to use relative path
  surefire-settings.xml
Due: none

fix: convert Java comments to Gherkin format in feature files
  bin/fix-feature-file-comments.sh
  modules/samstraumr-core/src/test/resources/features/component/component-composite-connectivity-tests.feature
  modules/samstraumr-core/src/test/resources/features/component/component-error-handling-tests.feature
  modules/samstraumr-core/src/test/resources/features/component/component-initialization-tests.feature
  modules/samstraumr-core/src/test/resources/features/component/component-machine-orchestration-tests.feature
  modules/samstraumr-core/src/test/resources/features/component/component-state-tests.feature
  modules/samstraumr-core/src/test/resources/features/identity/identity-tests.feature
  modules/samstraumr-core/src/test/resources/features/identity/memory-identity-tests.feature
  modules/samstraumr-core/src/test/resources/features/identity/substrate-identity-tests.feature
  modules/samstraumr-core/src/test/resources/features/lifecycle-unified/lifecycle-tests.feature
  modules/samstraumr-core/src/test/resources/features/lifecycle/memory-identity-tests.feature
  modules/samstraumr-core/src/test/resources/features/lifecycle/substrate-identity-tests.feature
  modules/samstraumr-core/src/test/resources/features/lifecycle/tube-initialization-tests.feature
  modules/samstraumr-core/src/test/resources/features/tube-lifecycle/initialization-tests.feature
  modules/samstraumr-core/src/test/resources/features/tube-lifecycle/lifecycle-tests.feature
  modules/samstraumr-core/src/test/resources/features/tube-lifecycle/memory-identity-tests.feature
  modules/samstraumr-core/src/test/resources/features/tube-lifecycle/substrate-identity-tests.feature
  modules/samstraumr-core/src/test/resources/features/tube-lifecycle/tube-initialization-tests.feature
Due: none

ci: add Codecov token for v5 API authentication
  .github/workflows/ci-main.yml
Due: none

fix: move --add-opens flags from JAVA_TOOL_OPTIONS to MAVEN_OPTS
  .github/actions/setup-java-21/action.yml
  .github/actions/setup-test-environment/action.yml
  .github/workflows/local-pipeline.yml
  .github/workflows/samstraumr-pipeline.yml
  util/scripts/test/run-architecture-tests.sh
Due: none

fix: add TaskStatus enum and exclude test-port-interfaces from reactor build
  pom.xml
  test-port-interfaces/src/main/java/org/s8r/application/port/compat/TaskExecutionPortCompat.java
  test-port-interfaces/src/main/java/org/s8r/application/port/task/TaskResult.java
  test-port-interfaces/src/main/java/org/s8r/application/port/task/TaskStatus.java
  test-port-interfaces/src/main/java/org/s8r/infrastructure/task/ThreadPoolTaskExecutionAdapter.java
  test-port-interfaces/src/main/java/org/s8r/test/integration/TaskNotificationBridge.java
  test-port-interfaces/src/main/java/org/s8r/test/mock/MockTaskExecutionAdapter.java
Due: spotless-check, maven-compile, checkstyle

fix: correct architecture test path in CI Fast workflow
  .github/workflows/ci-fast.yml
Due: none

fix: comprehensive test infrastructure overhaul - all CI pipelines now functional
  bin/s8r-test
  modules/samstraumr-core/pom.xml
  modules/samstraumr-core/src/test/resources/component/features/L0_Core/component-initialization-tests.feature
  modules/samstraumr-core/src/test/resources/component/features/L0_Core/component-state-tests.feature
  modules/samstraumr-core/src/test/resources/component/features/L0_Core/error-handling-tests.feature
  modules/samstraumr-core/src/test/resources/component/features/L0_Core/identity-tests.feature
  modules/samstraumr-core/src/test/resources/component/features/L0_Core/lifecycle-tests.feature
  modules/samstraumr-core/src/test/resources/component/features/L1_Composite/composite-connectivity-tests.feature
  modules/samstraumr-core/src/test/resources/component/features/L2_Machine/machine-orchestration-tests.feature
  modules/samstraumr-core/src/test/resources/test/features/memory-identity-tests.feature
  modules/samstraumr-core/src/test/resources/test/features/substrate-identity-tests.feature
  modules/samstraumr-core/src/test/resources/test/features/tube-initialization-tests.feature
  modules/samstraumr-core/src/test/resources/tube/features/L0_Tube/lifecycle/memory-identity-tests.feature
  modules/samstraumr-core/src/test/resources/tube/features/L0_Tube/lifecycle/substrate-identity-tests.feature
  modules/samstraumr-core/src/test/resources/tube/features/L0_Tube/lifecycle/tube-initialization-tests.feature
  modules/samstraumr-core/src/test/resources/tube/features/L0_Tube/tube-initialization-test.feature
  modules/samstraumr-core/src/test/resources/tube/features/examples/TBD-atomic-boundary-test-example.feature
  modules/samstraumr-core/src/test/resources/tube/features/examples/TBD-composite-tube-interaction-test-example.feature
  modules/samstraumr-core/src/test/resources/tube/features/examples/TBD-inter-tube-feature-test-example.feature
  modules/samstraumr-core/src/test/resources/tube/features/examples/TBD-machine-construct-validation-test-example.feature
  modules/samstraumr-core/src/test/resources/tube/lifecycle/memory-identity-tests.feature
  modules/samstraumr-core/src/test/resources/tube/lifecycle/substrate-identity-tests.feature
  modules/samstraumr-core/src/test/resources/tube/lifecycle/tube-initialization-tests.feature
  pom.xml
Due: maven-compile

chore: add maven-enforcer-plugin and rationalize documentation (v3.2.0)
  CLAUDE.md
  POST_MERGE_VERIFICATION.md
  README.md
  REFACTORING_ASSESSMENT.md
  VERSION_ALIGNMENT_PLAN.md
  docs/archive/proposals-2024-2025/a-balanced-working-model-of-atomic-tube-identity-in-the-samstraumr-framework-of-tube.md
  docs/archive/proposals-2024-2025/atomic-tube-identity.md
  docs/archive/proposals-2024-2025/life -cycle -stage -comparison.md
  docs/archive/proposals-2024-2025/life-cycle-stage-comparison.md
  docs/archive/proposals-2024-2025/llm-context-composite-tube-proposal.md
  docs/archive/proposals-2024-2025/samstraumr-analysis-essay-refinement.md
  docs/archive/proposals-2024-2025/samstraumr-testing-strategy.md
  docs/archive/proposals-2024-2025/tube-components-integration-proposal.md
  docs/archive/proposals-2024-2025/tube-lifecycle-design.md
  docs/archive/proposals-2024-2025/tube-lifecycle-test-plan.md
  docs/archive/testing-legacy-tube/atomic-tube-identity-tests.md
  docs/archive/testing-legacy-tube/more-tube-tests.md
  docs/proposals/README.md
  docs/proposals/samstraumr-analysis-and-essay-refinement.md
  docs/proposals/tube-components-and-samstraumr-integration(1).md
  docs/testing/karate-consolidated.md
  docs/testing/karate-migration-guide.md
  docs/testing/karate-syntax-reference.md
  docs/testing/karate-testing-guide.md
  modules/pom.xml
  modules/samstraumr-core/pom.xml
  modules/samstraumr-core/src/test/java/org/s8r/architecture/CleanArchitectureComplianceTest.java
  modules/version.properties
  pom.xml
Due: spotless-check, maven-compile, checkstyle

docs: add ADR-0008 for Clean Architecture migration completion
  docs/architecture/decisions/0008-complete-clean-architecture-migration-by-resolving-layer-dependency-violations.md
Due: none

refactor: move migration package to infrastructure layer
  modules/samstraumr-core/src/main/java/org/s8r/adapter/TubeComponentAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/migration/feedback/IssueType.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/migration/feedback/MigrationFeedback.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/migration/feedback/MigrationFeedbackConfig.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/migration/feedback/MigrationIssue.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/migration/feedback/MigrationIssueLogger.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/migration/feedback/MigrationRecommendation.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/migration/feedback/MigrationStats.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/migration/feedback/Severity.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/migration/feedback/package-info.java
  modules/samstraumr-core/src/test/java/org/s8r/infrastructure/migration/feedback/MigrationFeedbackTest.java
Due: spotless-check, maven-compile, checkstyle

docs: add 17 missing package-info.java files
  modules/samstraumr-core/src/main/java/org/s8r/component/lifecycle/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/component/logging/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/component/termination/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/domain/validation/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/cache/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/filesystem/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/messaging/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/security/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/storage/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/task/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/template/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/validation/package-info.java
Due: spotless-check, maven-compile, checkstyle

fix: update architecture tests with migration exemptions and dynamic paths
  WRITING_MANIFESTO.md
  modules/samstraumr-core/src/main/java/org/s8r/application/port/notification/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/application/service/security/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/application/service/storage/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/application/service/template/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/component/lifecycle/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/component/termination/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/domain/component/ComponentQueryPort.java
  modules/samstraumr-core/src/main/java/org/s8r/domain/logging/DomainLogger.java
  modules/samstraumr-core/src/main/java/org/s8r/domain/logging/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/cache/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/filesystem/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/messaging/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/security/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/storage/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/task/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/template/package-info.java
  modules/samstraumr-core/src/main/java/org/s8r/infrastructure/validation/package-info.java
  modules/samstraumr-core/src/test/java/org/s8r/architecture/AcyclicDependencyTest.java
  modules/samstraumr-core/src/test/java/org/s8r/architecture/CleanArchitectureComplianceTest.java
Due: spotless-check, maven-compile, checkstyle

chore: remove CLAUDE.md and add personal files to gitignore
  .gitignore
  CLAUDE.md
Due: none

ci: consolidate 11 redundant workflows into 3 active pipelines
  .github/workflows/ci-comprehensive.yml
  .github/workflows/ci-fast.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-security.yml
  .github/workflows/ci.yml
  .github/workflows/s8r-ci-v2.yml
  .github/workflows/s8r-ci.yml
  .github/workflows/s8r-structure-pipeline.yml
  .github/workflows/samstraumr-pipeline.yml
  test-module/pom.xml
  test-module/src/test/java/org/s8r/test/simple/SimpleTest.java
  util/hooks/install-hooks.sh
  util/hooks/pre-push
Due: spotless-check, maven-compile, checkstyle

fix(ci): filter tests to L0_Unit tag matching local pre-push
  .github/workflows/ci.yml
Due: none

fix(ci): remove custom CodeQL in favor of GitHub default setup
  .github/workflows/ci.yml
Due: none

chore(ci): disable unconfigured GitHub Pages workflow
  .github/workflows/pages.yml
Due: none

chore(ci): remove unused Pages workflow and fix XML syntax
  .github/workflows/README.md
  .github/workflows/documentation-ci.yml
  .github/workflows/pages.yml
  quality-tools/checkstyle-suppressions.xml
  quality-tools/checkstyle/checkstyle-suppressions.xml
  quality-tools/pmd-ruleset.xml
  quality-tools/pmd/pmd-ruleset.xml
  quality-tools/spotbugs-exclude.xml
  quality-tools/spotbugs/spotbugs-exclude.xml
Due: none

fix(docs): escape backticks in documentation checker grep pattern
  docs/scripts/check-documentation-standards.sh
Due: none

fix(build): eliminate system modules warning
  .mvn/jvm.config
  pom.xml
Due: maven-compile

fix(docs): add 'all' and '--report' options to doc checker
  docs/scripts/check-documentation-standards.sh
Due: none

fix(ci): make documentation checks non-blocking
  .github/workflows/documentation-ci.yml
Due: none

fix(docs): correct broken link paths in logging-standards redirects
  docs/logging-standards.md
  docs/reference/standards/logging-standards.md
Due: none

fix(ci): add ignore patterns for unreliable external link domains
  .github/workflows/mlc_config.json
Due: none

fix(ci): trigger Documentation CI on mlc_config.json changes
  .github/workflows/documentation-ci.yml
Due: none

fix(ci): move continue-on-error to step level for markdown link check
  .github/workflows/documentation-ci.yml
Due: none

chore(ci): disable Documentation CI on push/PR triggers
  .github/workflows/documentation-ci.yml
Due: none

feat(consciousness): add consciousness-aware logging and identity architecture
  docs/architecture/decisions/0014-adopt-contract-first-testing-strategy.md
  docs/architecture/decisions/0015-implement-consciousness-aware-component-identity.md
  docs/architecture/decisions/0016-implement-consciousness-feedback-loop-detection.md
  docs/architecture/decisions/0017-implement-consciousness-aware-logging-architecture.md
  docs/concepts/philosophical-synthesis-identity-time-consciousness.md
  docs/planning/active/validation-todos.md
  docs/planning/consciousness-test-suite-implementation-plan.md
  docs/testing/testing-standards.md
  modules/samstraumr-core/src/main/java/org/s8r/adapter/CompositeAdapter.java
  modules/samstraumr-core/src/main/java/org/s8r/application/port/consciousness/ComponentNarrative.java
  modules/samstraumr-core/src/main/java/org/s8r/application/port/consciousness/ConsciousnessLogEntry.java
  modules/samstraumr-core/src/main/java/org/s8r/application/port/consciousness/ConsciousnessLoggerPort.java
  modules/samstraumr-core/src/main/java/org/s8r/application/port/consciousness/DecisionPoint.java
  modules/samstraumr-core/src/main/java/org/s8r/application/port/consciousness/FeedbackLoopMetrics.java
  modules/samstraumr-core/src/main/java/org/s8r/application/port/consciousness/FeedbackLoopPort.java
  modules/samstraumr-core/src/main/java/org/s8r/application/port/consciousness/IdentityChain.java
  modules/samstraumr-core/src/main/java/org/s8r/application/port/consciousness/IdentityChainPort.java
  modules/samstraumr-core/src/main/java/org/s8r/application/port/consciousness/NarrativePort.java
  modules/samstraumr-core/src/main/java/org/s8r/application/port/consciousness/ObservationContext.java
  modules/samstraumr-core/src/main/java/org/s8r/application/port/consciousness/package-info.java
  modules/samstraumr-core/src/test/java/org/s8r/test/data/ConsciousnessTestDataFactory.java
  modules/samstraumr-core/src/test/java/org/s8r/test/data/TestDataFactory.java
  modules/samstraumr-core/src/test/java/org/s8r/test/mock/MockConsciousnessAdapters.java
  modules/samstraumr-core/src/test/java/org/s8r/test/steps/consciousness/ConsciousnessStepDefinitions.java
  modules/samstraumr-core/src/test/java/org/s8r/test/steps/consciousness/ConsciousnessTestContext.java
  modules/samstraumr-core/src/test/java/org/s8r/test/steps/consciousness/package-info.java
  modules/samstraumr-core/src/test/resources/features/consciousness/L0_Genesis/adam-instantiation.feature
  modules/samstraumr-core/src/test/resources/features/consciousness/L0_Identity/substrate-persistence.feature
  modules/samstraumr-core/src/test/resources/features/consciousness/L1_Consciousness/self-observation.feature
  modules/samstraumr-core/src/test/resources/features/consciousness/L1_Feedback/loop-closure.feature
  modules/samstraumr-core/src/test/resources/features/consciousness/L2_Adaptation/learning-evolution.feature
  modules/samstraumr-core/src/test/resources/features/consciousness/L2_Emergence/emergent-behavior.feature
  modules/samstraumr-core/src/test/resources/features/consciousness/L3_Holistic/systems-coherence.feature
  modules/samstraumr-core/src/test/resources/features/consciousness/README.md
  test-port-interfaces/src/test/java/org/s8r/test/mock/MockAdapterFactory.java
  util/bin/cleanup-redundant-tests.sh
Due: spotless-check, maven-compile, checkstyle
